.vscode/**
.vscode-test/**
src/**
webview/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
vite.config.ts
**/*.map
**/*.ts
**/.vscode-test.*
AL-ActionImage-Viewer.ImageInformationProvider/**
